<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Chatting with </title>
    <style>
        #messages { 
            list-style-type: none;
        }
        #chatContainer {
            overflow-y: auto;
            flex: 1;
        }
        #messages {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    </style>
</head>
<body class="flex flex-col h-full">
    <!-- call div -->

    <div id="call-container" class="hidden flex flex-col justify-center items-center bg-gray-700 h-full gap-5">
        <div class="flex flex-col md:flex-row justify-center w-full gap-3">
            <!-- Local video -->
            <video class="rounded-md w-full h-56 md:w-1/2 md:h-auto" id="localVideo" autoplay muted playsinline></video>
            <!-- Remote video -->
            <video class="rounded-md w-full h-56 md:w-1/2 md:h-auto bg-gray-500" id="remoteVideo" autoplay playsinline></video>
        </div>
        <div class="button-container flex gap-3 p-2">
            <button class="flex items-center justify-center h-10 w-10 bg-red-600 rounded-full hover:bg-red-500 p-1" id="hangupBtn">
                <img class="h-6 w-6" src="../icons/hang-up-svgrepo-com.svg" alt="">
            </button>
            
            <button class="flex items-center justify-center h-10 w-10 bg-blue-600 rounded-full hover:bg-blue-500 p-1" id="muteBtn">
                <img class="h-6 w-6" src="../icons/mute-1-svgrepo-com.svg" alt="">
            </button>
            
            <button class="flex items-center justify-center h-10 w-10 bg-green-600 rounded-full hover:bg-green-500 p-1" id="hideCameraBtn">
                <img class="h-6 w-6" src="../icons/camera-slash-svgrepo-com.svg" alt="">
            </button>
            
            <button class="flex items-center justify-center h-10 w-10 bg-gray-100 rounded-full hover:bg-gray-300 p-1" id="remotePipBtn">
                <img class="h-6 w-6" src="../icons/pip-svgrepo-com.svg" alt="">
            </button>
        </div>        
    </div>

    <!-- chat container -->
    <div id="chat-container" class="flex flex-col h-full">

        <!-- Chat header (fixed at the top) -->
        <div class="w-full bg-indigo-600 flex justify-between p-2 items-center">
            <div class="flex items-center justify-start gap-3">
                <button class="flex items-center shadow-md p-1 rounded-md" onclick="history.back()">
                    <img class="h-6" src="../icons/back-svgrepo-com.svg" alt="Back">
                </button>
                <img class="h-14 md:h-20 rounded-full border-2 border-gray-100" id="contactImgHeader" alt="Contact Image">
                <p id="contactUsrHeader" class="text-gray-100 font-medium"></p>
            </div>
            <button class="flex items-center mr-10 shadow-md rounded-md border-2" id="callBtn">
                <img class="h-5 md:h-6" src="../icons/call-medicine-svgrepo-com.svg" alt="Call">
                <p class="text-gray-100 p-1">Call</p>
            </button>
        </div>

        <!-- Chat Messages Container (scrollable) -->
        <div id="chatContainer" class="flex-1 overflow-y-auto p-2 bg-white">
            <ul id="messages" class="flex flex-col gap-3"></ul>
        </div>

        <!-- Input section (fixed at the bottom) -->
        <div class="bg-gray-200 flex items-center justify-between gap-3 p-3">
            <!-- Upload Button -->
            <label for="fileInput" class="bg-gray-100 p-2 rounded-full shadow-md cursor-pointer">
                <img class="h-6" src="../icons/upload-svgrepo-com.svg" alt="Upload">
            </label>
            <input type="file" id="fileInput" accept="image/*" class="hidden" />
        
            <input class="bg-gray-200 p-2 w-full shadow-md border border-transparent hover:border-indigo-600 transition duration-300 ease-in-out" 
                   id="messageInput" 
                   autocomplete="off" 
                   placeholder="Message..." />
            <button class="bg-indigo-600 p-2 rounded-full shadow-lg" id="sendButton">
                <img class="h-6" src="../icons/send-email-svgrepo-com.svg" alt="Send">
            </button>
        </div>
    </div>
    <div class="gap-3 bg-gray-100 p-2 rounded-xl w-44 top-2 absolute inset-x-1/2 flex flex-col items-center justify-center shadow-md" id="incomingCallDiv">
        <p id="incomigcallmsg"></p>
        <div class="flex gap-3">
            <button class="bg-green-400 p-1 rounded-md hover:bg-green-500" id="answerBtn">
                <img class="h-6" src="../icons/call-medicine-svgrepo-com.svg" alt="">
            </button>
            <button class="bg-red-400 p-1 rounded-md hover:bg-red-500" id="declineBtn">
                <img class="h-6" src="../icons/hang-up-svgrepo-com.svg" alt="">
            </button>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/chat.js"></script>
    <script src="/public/js/RtcScrip.js"></script>

</body>
</html>
