body {
  font-family: Arial, sans-serif;
}

.login-container, .chat-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.chat-container {
  display: flex;
}

.contacts {
  width: 30%;
  border-right: 1px solid #ccc;
}

.chat-box {
  width: 70%;
  padding-left: 20px;
}

#chatWindow {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

#chatWindow p {
  margin: 0;
  padding: 5px;
}

#contactsList {
  list-style-type: none;
  padding: 0;
}

#contactsList li {
  padding: 10px;
  cursor: pointer;
}

.color-f{
  background-color: rgb(90, 99, 156);
}
.color-s{
  background-color: rgb(119, 118, 179);
}
.color-t{
  background-color: rgb(155, 134, 189);
}
.color-q{
  background-color: rgb(234, 208, 239);
}
.your-message {
  background-color: rgb(119, 118, 179); /* Background for your messages */
  color: white; /* Text color */
  align-self: flex-end; /* Align to the right */
  margin: 5px 0; /* Margin for spacing */
  padding: 10px; /* Padding for comfort */
  border-radius: 10px;
  margin-right: 10px;  /* Rounded corners */
}
.sender-image {
  width: 30px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  border-radius: 50%; /* Make it circular */
  margin-right: 5px; /* Add space between image and text */
}
/* Style for sender's messages */
.sender-message {
  background-color: rgb(220, 220, 220); /* Background for other messages */
  color: black; /* Text color */
  align-self: flex-start; /* Align to the left */
  margin: 5px 0; /* Margin for spacing */
  padding: 10px; /* Padding for comfort */
  border-radius: 10px;
  margin-left: 10px; /* Rounded corners */
}